* {
    margin: 0;
    padding: 0;
}

.green {
    background-color: rgba(200, 255, 200, 0.5);
}
.red {
    background-color: rgba(255, 200, 200, 0.5);
}
.blue {
    background-color: rgba(200, 200, 255, 0.5);
}
.filter {
    background-color: rgba(255, 255, 255, 0.5);
}
.space {
    height: 100vh;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* grid-template-rows: 1fr 1fr; */
    gap: 10%;
    min-height: 100vh;
    width: 100%;

}

@media (min-width:768px) {

    .container {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}

.text {
    flex-grow: 1;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    width: 100%;
    min-height: 200vh;

}
.box1 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 0.7fr;
    gap: 10%;
    width: 100%;
    min-height: 100vh;
}

.box2 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 0.7fr;
    gap: 10%;
    width: 100%;
    min-height: 100vh;
}


h2 {
    align-self: flex-end;
    margin: 0;

}
p {
    margin: 0;
}

@media (min-width:768px) {

    .text {
        position: relative;
        flex-grow: 1;
        min-height: 100vh;
    
    }
    .box1 {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 10%;
        min-height: 100vh;
    }
    
    .box2 {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 10%;
        min-height: 100vh;
    }
    

    h2 {
        align-self: flex-end;
        margin: 0;

    }
    p {
        margin: 0;
    }

}


.image {
    position: absolute;
    flex-grow: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    /* min-height: 100vh; */


}
.sticky {
    align-self: flex-start;
    position: sticky;
    top: 0;
    display: grid;
    align-items: flex-end;
    gap: 10%;
    width: 50%;
    height: 100vh;
}
#animation {
    background-color: #fff;
}


@media (min-width:768px) {

    .image {
        position: static;
        flex-grow: 1;
        min-height: 100vh;
    
    }

    .sticky {
        align-self: flex-start;
        position: sticky;
        top: 0;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding-top: 0;
    }
    

}
